* {
  box-sizing: border-box;
}

body{
  // background-color: #5d94fb;
  margin: 0;
}

.wrapper {

  background-image: url('../images/mario-wallpaper.png');
  background-size: cover;
  background-position: center bottom;
  width: 100%;
  position: relative;
  &:after {
    content: "";
    display: block;
    padding-bottom: 53%;
  }
}

.inner-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}


.grid{
  width: 30%;
  height: 84.5%;
  margin: 0 auto;
  position: relative;
  visibility: hidden;
}
.displayingScore{
  width: 30%;
}


.coins{
  background-image: url('../images/coin.png');
  background-size: contain;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;

  &.mushroom {
    background-image: url(../images/mushroom.gif);
  }

  &.star {
    background-image: url(../images/mario-star.gif);
  }
}
.final{
  visibility: hidden;
}
.lose{
  visibility: hidden;
}
h2{
  visibility: hidden;
}
.skinny{
  width: 25%;
  float: left;
  border: 1px solid #fff;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  &.mario {
    height: 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
    &.left {
      background-image: url('../images/mario-running-left.gif');
    }
    &.right {
      background-image: url('../images/mario-running-right.gif');
    }
  }
}
.instructions{
  margin: 100px auto;
  width: 500px;
}

button{
  width: 80px;
  height: 50px;
  margin-top: 0;
  border-radius: 25%;
  background-color: #c84c0c;
  font-weight: bold;
  font-size: 18px;
}
