body{
  background-image: url('../images/batman-background.jpg');
  background-size: cover;
}


.grid{
  width: 330px;
  height: 600px;
  margin: 0 auto;
}


.circle{
  background-color: red;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.skinny{
position: relative;
width: 80px;
float: left;
border: 1px solid #fff;
height: 600px;
background-color: black;
opacity: 0.5;
}
