@font-face {
    font-family: 'arcade';
    src: url('../fonts/arcadeclassic-webfont.woff2') format('woff2'),
         url('../fonts/arcadeclassic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #2d2d2d;
}

body{
  // background-color: #5d94fb;
  margin: 0;
  font-family: 'arcade', monospace;
  letter-spacing: 5px;
}

p {
  letter-spacing: 2px;
}

input, button {
  font-family: 'arcade', monospace;
  letter-spacing: 3px;
}
input{
  background-color: #fff8dc;
}

#princessPeach{
float: right;
width: 100px;
height: 100px;
margin-top: 30px;
margin-right: 100px;
}
#mario{
  width: 100px;
}
.wrapper {
  background-image: url('/public/images/mario-wallpaper.png');
  background-size: cover;
  background-position: center bottom;
  width: 100%;
  position: relative;
  &:after {
    content: "";
    display: block;
    padding-bottom: 53%;
  }
}

.inner-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.grid{
  width: 30%;
  height: 85%;
  margin: 0 auto;
  position: relative;
  display: none;
  align-self: flex-start;
}
.displayingScore{
  width: 30%;
  display: none;
  color: white;
  padding-left: 30px;
}

.coins{
  background-image: url(/public/images/coin.png);
  background-size: contain;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.mushroom {
    background-image: url(/public/images/mushroom.gif);
    background-size: contain;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
  }

.star {
    background-image: url(/public/images/mario-star.gif);
    background-size: contain;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
  }

.win{
  display: none;
}
.lose{
display: none;
}
#reset{
  visibility: hidden;
}
.choosingCharacter{
  display:none;
  text-align: center;
  background-color: white;
  border: 5px solid black;
  padding: 25px;
  p{
    text-align: center;
  }
  img {
    cursor: pointer;
    margin: 0 auto;
    display: block;
  }
}
.marioFace{
  width: 50%;
  display: inline-block;
  h3{
    text-align: center;
    margin-bottom: 35px;
  }
}
.luigiFace{
  width: 40%;
  display: inline-block;
  h3{
    text-align: center;
  }
}

.skinny{
  width: 25%;
  float: left;
  border: 1px solid #fff;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  &.character {
    height: 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
    &.mario {
      background-size: 110%;
    }
    &.luigi {
      background-size: 140%;
    }
    &.left {
      &.mario {
        background-image: url('/public/images/mario-left.gif');
      }
      &.luigi {
        background-image: url('/public/images/luigi-left.gif');
      }
      width: 25%;
      background-size: 90px;
    }
    &.right {
      &.mario {
        background-image: url('/public/images/mario-right.gif');
      }
      &.luigi {
        background-image: url('/public/images/luigi-right.gif');
      }
      width: 25%;
      background-size: 90px;
    }
  }
}
.instructions{
  width: 500px;
  background-color: white;
  border: 5px solid black;
  padding: 25px;
}
.endGame{
  display: none;
  background-color: white;
  border: 5px solid black;
  padding: 25px;
  text-align: center;
}

button{
  height: 50px;
  margin-top: 0;
  border-radius: 4px;
  padding: 10px 17px 10px 20px;
  background-color: #c84c0c;
  border: 2px solid darken(#c84c0c, 10%);
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: #2d2d2d;
  width: 100%;
  padding: 5px;
  text-align: center;
  font-size: 12px;
  color: white;
}

@media screen and (min-width: 0px) and (max-width: 400px) {
  .directionButtons { display: none; }  /* show it on small screens */
}

@media screen and (min-width: 401px) and (max-width: 1024px) {
  .directionButtons{  display: block; }
}
